[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
psutil = "*"
requests = "*"
Savoir = "*"
python-vagrant = "*"

[dev-packages]

[requires]
python_version = "3.6"
